<div class="page-container">

  <div class="container-form">
    <form class="search-form" id="search-form">
      <input
        type="text"
        name="query"
        autocomplete="off"
        placeholder="Search images..."
      />
      <button type="submit" class="btn btn-search">Search</button>
    </form>
    
  </div>

  <div class="container-gallery">
    <ul class="gallery">
      <!-- Список <li> с карточками изображений -->
    </ul>
  </div>

  <button type="button" class="btn btn-load-more hidden" data-action="load-more">More...</button>
  <button type="button" class="btn-up btn hidden"></button>
</div>